PORT=5000
MONGO_URI=mongodb+srv://yashgupta9798:Yash9798@cluster0.7epp6hx.mongodb.net/questions_app?retryWrites=true&w=majority&appName=Cluster0;
JWT_SECRET=supersecretjwtkey
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=dkheow9fw
CLOUDINARY_API_KEY=598758591765871
CLOUDINARY_API_SECRET=Vo0hjIHQnUAD7WoiPO1UgB4CAPY
